@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  
  --primary-red: #e11d48;
  --primary-blue: #2563eb;
  
  --font-inter: 'Inter', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-red: var(--primary-red);
  --color-neon-blue: var(--primary-blue);
  
  --font-inter: var(--font-inter);
  --font-orbitron: var(--font-orbitron);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
  overscroll-behavior: none;
}

::selection {
  background-color: rgba(225, 29, 72, 0.3);
  color: white;
}

.glass-panel {
  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
